<mat-toolbar class="navbar">
  <!-- <button mat-icon-button class="bar">
    <mat-icon>menu</mat-icon>
  </button> -->
  <button class="port" href="#">
      <a>Mind! Developer ©</a>  
  </button>
  <span class="example-spacer"></span>
  <span><img src="../assets/logo.png" alt="Logo" width="166" height="39" class="d-inline-block align-text-top" (click)="router.navigate([''])"></span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="salir" (click)="router.navigate(['/home'])">
    <mat-icon>power_settings_new </mat-icon>
    <a> Salir</a>
  </button>
</mat-toolbar>
<mat-toolbar class="navbar2">
    <button mat-icon-button class="prep" (click)="router.navigate(['/home'])">
      <mat-icon>car_repair </mat-icon>
      <a> Preparación</a> 
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="prep" (click)="router.navigate(['/almacen'])">
      <mat-icon>car_rental </mat-icon>
      <a> Almacenamiento</a> 
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="prep" (click)="router.navigate(['/ventas'])">
      <mat-icon>local_offer </mat-icon>
      <a> En venta</a> 
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="prep" (click)="router.navigate(['/vendidos'])">
      <mat-icon>monetization_on </mat-icon>
      <a> Vendidos</a> 
    </button>
</mat-toolbar>

<mat-card class="container">
  <router-outlet></router-outlet>
</mat-card>
