/* TABLE */
.prep{
    color: #E63020;
}
.container{
    width: 98%;
    height: 80%;
    background-color: #F2F3F7;
    display: flex;
    justify-content: center;
}
.card{
    font-family: 'Roboto Bold', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 150px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-c5cbda);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C5CBDA;
    border-radius: 6px;
    opacity: 1;
}
.card-blank{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F3F7;
    width: 85vw;
    height: 100px;
}
p{
    color: var(--unnamed-color-c5cbda);
    text-align: center;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #C5CBDA;
    opacity: 1;
}

/* FOOTER */
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 505px;
    padding: 2px;
    left: 0px;
    width: 100%;
    height: 70px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    box-shadow: 0px -3px 6px var(--unnamed-color-0000001a);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px -3px 6px #0000001A;
    opacity: 1;
}
.form-search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 384px;
    height: 40px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-c5cbda);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C5CBDA;
    border-radius: 20px;
    opacity: 1;
}
.btn-search{
    margin-top: 5px;
    margin-left: -10px;
    width: 16px;
    height: 16px;
    color: var(--unnamed-color-000000);
    text-align: center;
    font: normal normal normal 16px/19px Font Awesome 6 Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.mat-paginator{
    font-family: 'Roboto Regular', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
}
::ng-deep .mat-select-value {
    width: 12px;
    height: 15px;
    color: var(--unnamed-color-000000);
    text-align: right;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
}
::ng-deep .mat-paginator-range-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 740px;
    left: 650px;
    width: 240px;
    height: 40px;
    color: #000000;
    opacity: 1;
    border-radius: 30px;
    border: 1px solid #C5CBDA;
}
::ng-deep .mat-paginator-page-size{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    width: 170px;
    height: 40px;
    opacity: 1;
    border-radius: 30px;
    border: 1px solid #C5CBDA;
}
/* resultados */
::ng-deep .mat-paginator-page-size-label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95px;
    height: 33px;
    color: var(--unnamed-color-e63020);
    text-align: left;
    font: normal normal bold 14px/19px Roboto;
    letter-spacing: 0px;
    color: #E63020;
    background: var(--unnamed-color-fdeae8) 0% 0% no-repeat padding-box;
    background: #FDEAE8 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 19px;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper{
    width: 40px;
    margin-top: -14px;
    color: var(--unnamed-color-000000);
    text-align: right;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    text-transform: capitalize;
    opacity: 1;
    color: #000000;
}
.form-select{
    top: 745px;
    left: 953px;
    width: 200px;
    height: 40px;
    color: #FFFFFF;
    background: var(--unnamed-color-e63020) 0% 0% no-repeat padding-box;
    border: 0.5px solid var(--unnamed-color-e63020);
    background: #E63020 0% 0% no-repeat padding-box;
    border: 0.5px solid #E63020;
    font: normal normal medium 14px/9px Roboto;
    border-radius: 50px;
    opacity: 1;
    cursor: pointer;
}
@media screen and (max-width: 1500px){ 
    .footer{
        margin-top: 485px;
    }
}

@media screen and (max-width: 1280px){ 
    .mat-paginator{
        font-family: 'Roboto Regular', sans-serif;
        font-size: 12px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 500px;
    }
    .footer{
        margin-top: 485px;
        width: 100%;
        height: 60px;
    }
    .form-search{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 300px;
        height: 35px;
    }
    .form-select{
        top: 745px;
        left: 953px;
        width: 170px;
        height: 35px;
        font: normal normal medium 14px/9px Roboto;
    }
    ::ng-deep .mat-paginator-page-size{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000000;
        width: 140px;
        height: 35px;
    }
    ::ng-deep .mat-paginator-range-actions{
        width: 240px;
        height: 40px;
    }
}

@media screen and (max-width: 1050px){ 
    .mat-paginator{
        font-family: 'Roboto Regular', sans-serif;
        font-size: 12px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 450px;
    }
    .footer{
        width: 100%;
        height: 60px;
    }
    .form-search{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 260px;
        height: 35px;
    }
    .form-select{
        top: 745px;
        left: 953px;
        width: 150px;
        height: 35px;
        font: normal normal medium 14px/9px Roboto;
    }
    ::ng-deep .mat-paginator-page-size{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000000;
        width: 140px;
        height: 35px;
    }
    ::ng-deep .mat-paginator-range-actions{
        width: 220px;
        height: 40px;
    }
}
